<h2>下田 様</h2>
<p>只今、HPにてお問い合わせがありましたので連絡させていただきます。</p>
<p>お問い合わせ項目：<%= @contact[:form_item] %></p>
<p>お問い合わせ内容：<%= @contact[:form_detail] %></p>
<p>お名前 (漢字)：<%= @contact[:form_name] %></p>
<p>フリガナ (カナ)：<%= @contact[:form_kana] %></p>
<p>メールアドレス：<%= @contact[:form_email] %></p>
<p>性別：<%= @contact[:form_sex] %></p>
<p>年齢：<%= @contact[:form_age] %></p>
<p>郵便番号：<%= @contact[:form_post] %></p>
<p>住所：<%= @contact[:form_address1] %>&nbsp;<%= @contact[:form_address2] %>&nbsp;<%= @contact[:form_address3] %></p>
<p>電話番号：<%= @contact[:form_tel] %></p>
<p>&nbsp;</p>
<p>以上よろしくお願いいたします。</p>
