<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item1.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥790</span><span>自家製ローストビーフ丼</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item2.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥690</span><span>ロースト＆チキン丼</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item3.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥500</span><span>チキンオーバーライス<br>ミックス(赤サルサと白ソース)</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item4.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥500</span><span>チキンオーバーライス<br>赤のサルサ</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item5.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥500</span><span>チキンオーバーライス<br>白のチーズレモン</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item6.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥500</span><span>チキンオーバーライス<br>にんにく醤油</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item7.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥500</span><span>チキンオーバーライス<br>ゆず塩ダレ</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item8.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥500</span><span>チキンオーバーライス<br>スイートチリ</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item9.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥500</span><span>チキンオーバーライス<br>オニオン</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item10.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥500</span><span>チキンオーバーライス<br>おろしポン酢</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item11.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥500</span><span>チキンオーバーライス<br>ゴマだれ</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item12.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥500</span><span>チキンオーバーライス<br>おろしゴマポン酢</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item13.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥530</span><span>チキンオーバーライス<br>チーズバジル</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item14.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥530</span><span>チキンオーバーライス<br>てりマヨ</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item15.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥530</span><span>チキンオーバーライス<br>ごま山椒</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item16.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥530</span><span>チキンオーバーライス<br>わさび醤油マヨ</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item17.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥550</span><span>チキンオーバーライス<br>梅おろしポン酢</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item18.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥550</span><span>チキンオーバーライス<br>うま辛ごま味噌</span></span>
    </div>
  </div>
</div>
<div class="menu_main_item">
  <div class="menu_main_item_center">
    <div class="menu_main_item_center_image">
      <%= image_tag "item19.png" %>
    </div>
    <div class="menu_main_item_center_detail">
      <span class="button"><span>¥550</span><span>チキンオーバーライス<br>塩レモン</span></span>
    </div>
  </div>
</div>
