<div class="photo_main_scroll1">
  <ul>
    <li>
      <a href="https://www.instagram.com/p/BXSONLEAUUF/" target="_blank"><%= image_tag "autoScroll1_1.jpg",alt:"" %></a>
      <p>Location - Entrance</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BXn1-pJAlTB/" target="_blank"><%= image_tag "autoScroll1_2.jpg",alt:"" %></a>
      <p>Location - Making</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BXspiM-AFiE/" target="_blank"><%= image_tag "autoScroll1_3.jpg",alt:"" %></a>
      <p>Location - Making</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BXu1mvyAaeY/" target="_blank"><%= image_tag "autoScroll1_4.jpg",alt:"" %></a>
      <p>Location - Making</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BXvH4R4A-va/" target="_blank"><%= image_tag "autoScroll1_5.jpg",alt:"" %></a>
      <p>Location - Logo</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BX4C95Vg3jH/" target="_blank"><%= image_tag "autoScroll1_6.jpg",alt:"" %></a>
      <p>Location - Entrance</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BYGI_69nLy6/" target="_blank"><%= image_tag "autoScroll1_7.jpg",alt:"" %></a>
      <p>Location - Lunch</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BYVzMWon-H1/" target="_blank"><%= image_tag "autoScroll1_8.jpg",alt:"" %></a>
      <p>Location - Making</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BYfNV1Nnje9/" target="_blank"><%= image_tag "autoScroll1_9.jpg",alt:"" %></a>
      <p>Location - PreOpen</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/Ba_kU4pH841/" target="_blank"><%= image_tag "autoScroll1_10.jpg",alt:"" %></a>
      <p>Location - Roast&Chicken</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BcBYoSnnBNN/" target="_blank"><%= image_tag "autoScroll1_11.jpg",alt:"" %></a>
      <p>Location - ChickenOverRice</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BfISghoHrWt/" target="_blank"><%= image_tag "autoScroll1_12.jpg",alt:"" %></a>
      <p>Location - Cookie</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BwRVFItBolS/" target="_blank"><%= image_tag "autoScroll1_13.jpg",alt:"" %></a>
      <p>Location - Roast&Chicken</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/B3CVHfTnvr5/" target="_blank"><%= image_tag "autoScroll1_14.jpg",alt:"" %></a>
      <p>Location - Menu</p>
    </li>
  </ul>
</div>
<div class="photo_main_scroll2">
  <ul>
    <li>
      <a href="https://www.instagram.com/p/BXn1gjoAr3M/" target="_blank"><%= image_tag "autoScroll2_1.jpg",alt:"" %></a>
      <p>Location - Entrance</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BXn2Ogtg_yr/" target="_blank"><%= image_tag "autoScroll2_2.jpg",alt:"" %></a>
      <p>Location - Making</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BXu1bIMgSJf/" target="_blank"><%= image_tag "autoScroll2_3.jpg",alt:"" %></a>
      <p>Location - Making</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BXvHu1Fg-71/" target="_blank"><%= image_tag "autoScroll2_4.jpg",alt:"" %></a>
      <p>Location - Making</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BX29A2agdJ3/" target="_blank"><%= image_tag "autoScroll2_5.jpg",alt:"" %></a>
      <p>Location - Entrance</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BYDxdgeHe8e/" target="_blank"><%= image_tag "autoScroll2_6.jpg",alt:"" %></a>
      <p>Location - Entrance</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BYJ_tnGgobr/" target="_blank"><%= image_tag "autoScroll2_7.jpg",alt:"" %></a>
      <p>Location - Entrance</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BYVzm6znEgu/" target="_blank"><%= image_tag "autoScroll2_8.jpg",alt:"" %></a>
      <p>Location - Lunch</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BaDzBB6nIXZ/" target="_blank"><%= image_tag "autoScroll2_9.jpg",alt:"" %></a>
      <p>Location - Entrance</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/Bbt0lWVHSSI/" target="_blank"><%= image_tag "autoScroll2_10.jpg",alt:"" %></a>
      <p>Location - Entrance</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BcJJGpMnuKt/" target="_blank"><%= image_tag "autoScroll2_11.jpg",alt:"" %></a>
      <p>Location - Grille</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/BdAa-7dHLk-/" target="_blank"><%= image_tag "autoScroll2_12.jpg",alt:"" %></a>
      <p>Location - Staff</p>
    </li>
    <li>
      <a href="https://www.instagram.com/p/Bwb6Y9lhZLZ/" target="_blank"><%= image_tag "autoScroll2_13.jpg",alt:"" %></a>
      <p>Location - Burger</p>
    </li>
  </ul>
</div>