<div class="header_top">
  <div class="header_top_left">
    <div class="header_top_left_logo">
      <div class="header_top_left_logo_sns">
        <a href="https://00m.in/9646j" target="_blank"><%= image_tag "Instagram.png" %></a>
        <a href="https://00m.in/hu0BA" target="_blank"><%= image_tag "uber eats.png" %></a>
      </div>
      <div class="header_top_left_logo_site">
        <%= image_tag "logo.png",class:"sitelogo" %>
      </div>
    </div>
    <div class="header_top_left_address">
      <%= image_tag "0206_7.png" %>
      <div class="header_top_left_address_main">
        <p>2-10-17, MINAMISEMBA,<br>
            CHUO-KU OSAKA-SHI, OSAKA,<br>
            542-0081, JAPAN <i class="fas fa-map-marker-alt"></i> <a href="https://00m.in/sZk8p" target="_blank">GOOGLE MAP</a><br>
            TEL 06-7708-7001<br>
            OPEN 11:00 -<br>
            LAST ORDER 19:00</p>
      </div>
    </div>
  </div>
  <div class="header_top_right">
    <%= image_tag "top.png" %>
  </div>
</div>
<div class="header_bottom">
  <div class="header_bottom_left">
    <a href="#"><p>最新情報を見る</p></a>
  </div>
  <div class="header_bottom_right">
    <div class="header_bottom_right_menu"><a href="#"><p>MESSAGE</p></a></div>
    <div class="header_bottom_right_menu"><a href="#"><p>MENU</p></a></div>
    <div class="header_bottom_right_menu"><a href="#"><p>PHOTO</p></a></div>
    <div class="header_bottom_right_menu"><a href="#"><p>LOCATION</p></a></div>
    <div class="header_bottom_right_menu"><a href="#"><p>CONTACT</p></a></div>
  </div>
</div>
<div class="main">
</div>